In [31]:
# Basics
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# preprocessing
from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder

# model selection
from sklearn.model_selection import train_test_split, GridSearchCV

# classifiers
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

# metrics
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, f1_score
from scipy.stats import mode

In [52]:
# https://www.kaggle.com/code/shaumilsahariya/case-study-of-titanic
df_train = pd.read_csv("./train.csv", delimiter=',')
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [56]:
%%time
print(f"Then: {df_train.shape}")
df_train["Embarked"].fillna(mode(df_train["Embarked"])[0][0], inplace = True)
print(f"Now: {df_train.shape}")

Then: (891, 12)
Now: (891, 12)
CPU times: user 1.29 ms, sys: 0 ns, total: 1.29 ms
Wall time: 1.27 ms

<timed exec>:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
<timed exec>:2: DeprecationWarning: Support for non-numeric arrays has been deprecated as of SciPy 1.9.0 and will be removed in 1.11.0. `pandas.DataFrame.mode` can be used instead, see https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mode.html.

In [57]:
df_train.drop(['PassengerId','Name','Ticket', 'Cabin'], axis=1, inplace=True)
df_train.head(1)

   Survived  Pclass   Sex   Age  SibSp  Parch  Fare Embarked
0         0       3  male  22.0      1      0  7.25        S

In [58]:
df_train = df_train[df_train['Sex']!=29]

In [59]:
label = ["children","teenager","young","mid-age","old"]
bin1 = [0,12,19,40,60,90]
df_train["Age"] = pd.cut(x = df_train["Age"], bins = bin1, labels = label) # on training data
df_train.head(3)

   Survived  Pclass     Sex    Age  SibSp  Parch     Fare Embarked
0         0       3    male  young      1      0   7.2500        S
1         1       1  female  young      1      0  71.2833        C
2         1       3  female  young      0      0   7.9250        S

In [60]:
df_train["Age"].fillna(mode(df_train["Age"])[0][0], inplace = True)

/tmp/ipykernel_155/666727589.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  df_train["Age"].fillna(mode(df_train["Age"])[0][0], inplace = True)
/tmp/ipykernel_155/666727589.py:1: DeprecationWarning: Support for non-numeric arrays has been deprecated as of SciPy 1.9.0 and will be removed in 1.11.0. `pandas.DataFrame.mode` can be used instead, see https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mode.html.
  df_train["Age"].fillna(mode(df_train["Age"])[0][0], inplace = True)

In [61]:
# using replace function for ordinal data
df_train.replace({"children":0,"teenager":1,"young":2,
            "mid-age":3,"old":4},inplace = True) # on training data

In [43]:
ohe = OneHotEncoder()
df_train[list(df_train["Sex"].unique())] = ohe.fit_transform(df_train[["Sex"]]).A
df_train[list(df_train["Embarked"].unique())] = ohe.fit_transform(df_train[["Embarked"]]).A
df_train.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,male,female,S,C,Q
0,0,3,male,2,1,0,7.2500,S,0.0,1.0,0.0,0.0,1.0
1,1,1,female,2,1,0,71.2833,C,1.0,0.0,1.0,0.0,0.0
2,1,3,female,2,0,0,7.9250,S,1.0,0.0,0.0,0.0,1.0
3,1,1,female,2,1,0,53.1000,S,1.0,0.0,0.0,0.0,1.0
4,0,3,male,2,0,0,8.0500,S,0.0,1.0,0.0,0.0,1.0

In [44]:
df_train.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
male        0
female      0
S           0
C           0
Q           0
dtype: int64

In [45]:
df_train.drop(["Sex","Embarked"],axis = 1, inplace = True)

In [46]:
X = df_train.drop(['Survived'], axis=1).copy()
y = df_train['Survived'].copy()

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.2, random_state=42)

In [48]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(712, 10)
(179, 10)
(712,)
(179,)

In [49]:
# train the model
tree = DecisionTreeClassifier(max_depth=3)
tree.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=3)

In [50]:
# Predictions on train
y_train_pred_tree = tree.predict(X_train)
# Predictions on test
y_test_pred_tree = tree.predict(X_test)

In [51]:
# Accuracy
train_acc = accuracy_score(y_train, y_train_pred_tree)
test_acc = accuracy_score(y_test, y_test_pred_tree)

print('Accuracy on train:', train_acc)
print('Accuracy on test:',test_acc)
print('F1 score:',f1_score(y_test, y_test_pred_tree))

Accuracy on train: 0.8370786516853933
Accuracy on test: 0.8156424581005587
F1 score: 0.7226890756302521